.right
  .main
    .main__header
      .main__header--name 
        = @group.name
      %ul.main__header--member 
        member 
        - @group.users.each do |member|
          %li.main__header--member_name
          =  member.name
    .main--edit Edit    
  .center
    - @messages.each do |message|
      = render partial: "messages/message", locals: { message: message }
    

  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = fa_icon 'picture-o', class: 'icon'
          = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'