.oya
  .flash-box
  .wrapper
    .wrapper--leftside
      .wrapper--leftside--btn
        .wrapper--leftside--btn--name
          = current_user.name
        %ul.wrapper--leftside--icon
          %list
            = link_to do
              = fa_icon 'pencil-square-o', class: 'icon'
          %list
            = link_to edit_user_path(current_user) do
              = fa_icon 'cog', class: 'icon'
      .leftside
        .leftside--group1ルーム１
        .leftside--sampleまだサンプルがありません
        .leftside--group2ルーム２
        .leftside--group3サンプル
  .right
    .main
      .main__header
        .main__header--name ルーム１
        .main___header--member メンバー：綾子
      .main--edit Edit    
    .center
      .ceter_messages
        .center__messages--user こんにちは
        .center__messages--info ルーム１
    .footer
      .footer--box
        .footer--box--text 
          %input.footer--box--text--input-box{placeholder: "type a message"}
            %label.footer--box--text--input-box--upload-label
              %footer--box--text--input-box--upload-label--i.fa.fa-picture-o
              %input.hidden{type: 'file'}
        %submit.footer--box--send-btn Send 